# Supermarket Sales

In [42]:
import pandas as pd

In [ ]:
data_dir = '../Data/'

In [46]:
df = pd.read_csv(data_dir + 'SuperMarket Sales.csv')
df.columns.tolist()

['Invoice ID',
 'Branch',
 'City',
 'Customer type',
 'Gender',
 'Product line',
 'Unit price',
 'Quantity',
 'Tax 5%',
 'Total',
 'Date',
 'Time',
 'Payment',
 'cogs',
 'gross margin percentage',
 'gross income',
 'Rating']

In [48]:
df.rename(columns={
    'Invoice ID': 'Invoice_ID',
    'Customer type': 'Customer_Type',
    'Product line': 'Product_Line',
    'Unit price': 'Unit_Price',
    'Tax 5%': 'Tax_5_Percent',
    'cogs': 'COGS',
    'gross margin percentage': 'Gross_Margin_Percent',
    'gross income': 'Gross_Income',
}, inplace=True)

In [50]:
df.head()

,Invoice_ID,Branch,City,Customer_Type,Gender,Product_Line,Unit_Price,Quantity,Tax_5_Percent,Total,Date,Time,Payment,COGS,Gross_Margin_Percent,Gross_Income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [52]:
df.to_csv(data_dir + "Clean - SuperMarket Sales.csv", index=False)